@font-face {
  font-family: sans-serif;
  src: url(../fonts/Ubuntu-Title.ttf);
}

.video {
  width: 100%;
  height: 100%;
}

.video-div {
  position: relative;
}

.facts {
  position: absolute;
  z-index: 10;
  left: 10%;
  right: 10%;
  top: 75%;
  text-shadow: 2px 2px grey;
  font-family: sans-serif;
  text-align: center;
}

.date-time {
  font-size: 2.5em;
  font-weight: bold;
}

.cat-fact-div {
  postion: absolute;
  font-size: 1.8em;
}