@font-face {
  font-family: sans-serif;
  src: url(../fonts/Ubuntu-Title.ttf);
}

body {
  background-color: #202729;
  margin: 0;
}

.video {
  width: 100%;
/*  height: 100%;*/
}

.video-div {
  position: relative;
}

.facts {
  position: absolute;
  z-index: 10;
  left: 10%;
  right: 10%;
  top: 70%;
  text-shadow: 2px 2px grey;
  color: #E2C880;
  font-family: sans-serif;
  text-align: center;
}

.date-time {
  font-weight: bold;
}

.date {
  font-size: 50px;
}

.time {
  font-size: 80px;
}

#cat {
  font-size: 30px;
  margin: 0;
  text-decoration: underline;
}

#cat-fact {
  font-size: 30px;
  margin: 0;
}

#heart {
  position: absolute;
  z-index: 10;
  left: 96%;
  margin: 0; 
}

a {
  font-size: 40px;
  color: #E663A1;
  text-decoration: none;
}

a:hover {
    color: pink;
}